$medium: 640px;
$large: 1024px;
$heading-color: #292929;
$primery-color: #ffc80a;
$text-color: #9e9e9e;
$body-font-family: "Roboto", sans-serif;

@import "layout";
@import "normalize";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

body {
  font: 400 14px/1.5 "Roboto", sans-serif;
  color: $text-color;
}

h1 {
  font-size: 80px;
  line-height: 1.4;
}
h2 {
  font-size: 36px;
  line-height: 1.4;
  color: $heading-color;
}
h3 {
  font-size: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
li {
  text-transform: uppercase;
  list-style: none;
}

/* Layout */
.ba-container {
  padding-right: 20px;
  max-width: 1120px;
}

// /* Typography */
// a,
// input[type="submit"],
// input[type="button"],
// button{
// 	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
// }
// input[type="submit"],
// input[type="button"],
// button,
// .ba-button{
// 	display: inline-block;
// }
// input[type="submit"]:hover,
// input[type="button"]:hover,
// button:hover,
// .ba-button:hover{

// }

// input[type="text"],
// input[type="email"],
// input[type="password"],
// input[type="number"],
// input[type="tel"],
// textarea,
// select {
// 	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
// }

// input[type="text"]:focus,
// input[type="email"]:focus,
// input[type="password"]:focus,
// input[type="number"]:focus,
// input[type="tel"]:focus,
// textarea:focus,
// select:focus {

// }
// textarea {

// }

.ba-menu {
  display: flex;
  align-items: center;
  li {
    a {
      color: $text-color;
      margin-left: 60px;
      padding-bottom: 5px;

      &:hover {
        border-bottom: 2px solid $text-color;
        color: $heading-color;
      }
    }
  }
}
.ba-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.ba-about {
  padding-top: 175px;
  padding-left: 80px;
  padding-bottom: 100px;
}
.ba-about__text {
  .ba-heading {
    max-width: 300px;
    padding-bottom: 35px;
  }
  .ba-paragraph {
    max-width: 340px;
    padding-bottom: 50px;
    line-height: 1.6;
  }
}
.ba-bay {
  .ba-bay__transparrent {
    margin-left: 20px;
  }
  .ba-bay__transparrent,
  .ba-bay__yellow {
    padding: 20px 56px;
    border-radius: 26px;

    border: 2px solid $text-color;

    &:hover {
      background-color: $primery-color;
    }
  }
}
.ba-logo {
  margin-left: 80px;
}
.ba-scroll {
  position: absolute;
  left: 50%;
  color: $text-color;
}
.ba-margin {
  margin-bottom: 100px;
}
.ba-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ba-specifications__text {
  .ba-heading--hh {
    max-width: 350px;
  }
  .ba-paragraph__hh {
    max-width: 400px;
  }
}

.ba-colls {
  display: flex;
  flex-direction: column;
  .ba-cols__left{
	  padding-left: 55px;
  }
  
}

.ba-cols-item {
  max-width: 380px;
  img {
    width: 60px;
	height: 60px;
	position: relative;
	top: -10px;
  }
}

.ba-specifications__item {
  padding-top: 175px;
}
.ba-function {
  display: flex;
}
.ba-cols-text {
  width: 220px;
  padding-left: 20px;
  h3{
	  margin-bottom: 10px;
  }
}
.ba-line {
  width: 300px;
  height: 1px;
  background: $text-color;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: block;
}
.ba-right{
	display: flex;
	flex-direction: flex-end;
}
.ba-specifications__text2{
	margin-top: 130px;

}
.ba-paragraph__hh{
	letter-spacing: 1px;
}